body {
    color: $fww-pink;
    font-family: 'PT Sans', sans-serif;
}

.fww-button {
    background-color: $fww-pink;
    color: $white;
    &:hover {
        background-color: darken($color: $fww-pink, $amount: 5);
    }
}
/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

 .splash-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;

    .splash {
        /* absolute center .splash within .splash-container */
        width: 80%;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 50px; left: 0; bottom: 0; right: 0;
        text-align: center;
        text-transform: uppercase;

        /* This is the main heading that appears on the blue section */
        .splash-head {
            font-size: 20px;
            font-weight: bold;
            color: $fww-pink;
            padding: 1em 1.6em;
            line-height: 1em;
        }

        /* This is the subheading that appears on the blue section */
        .splash-subhead {
            color: $fww-pink;
            letter-spacing: 0.05em;
            opacity: 0.8;
        }
    }
    
}

