---
title: Studio FWW
---

<div class="splash-container">
  <div class="splash">
    <%= image_tag("studio-fww_logo.png", width: "250", height: "250", alt: "Logo for Studio FWW") %>
    <h1 class="splash-head">Get Ready</h1>
    <p class="splash-subhead">
      We are going to make wonderful things together.
    </p>
    <div class="content">
        <h4 class="content-head is-center">Stay connected.</h4>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1">
              <div class="form-container">
                <form class="pure-form email-form" id="email-form" name="email-form" method="post">
                    <fieldset>
                        <input id="name" name="name" type="text" placeholder="Your Name" required>
                        <input id="email" name="email" type="email" placeholder="Your Email" required>

                        <button type="submit" class="pure-button fww-button">Sign Up</button>
                    </fieldset>
                </form>
              </div>
              <div class="thank-you-container" hidden aria-hidden="true">
                <p>Thanks for your interest. You will be hearing from us soon.</p>
              </div>
            </div>
        </div>
      </div>


    </div>



</div>